html,
body,
body > div#__nuxt,
body > div#__nuxt > div:first-child
{
  height: 100%;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
}
body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}
.text-secondary {
  color: var(--color-text-secondary);
}
h2 {
  color: black;
}
h1 {
  color: black;
  size: 56px;
  font-weight: 800;
}
input {
  flex-grow: 1;
  margin-right: 10px;
  border: none;  /* Removes default border */
  border-bottom: 1px solid gray;  /* Adds underline */
  color: gray;  /* Changes text color to gray */
  background: transparent;  /* Makes background transparent */
  outline: none;  /* Removes focus outline */
  transition: border-bottom-color 0.3s;
}
input:focus, input:active {
  color: white;
  border-bottom-color: aqua;
}
button, .button {
  display: inline-block;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.4s;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}
.btn-black {
  background-color: black;
}
.btn-black:hover {
  background-color: #3657D3;
}
.btn-blue {
  background-color: #3657D3;
}
.btn-blue:hover {
  background-color: #CDC8CF;
}