.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
}
.fade-enter-from, .fade-leave-to, .fade-video-enter-from, .fade-video-leave-to {
  opacity: 0;
}